@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}



body{
    margin:0;
    
}
  a{
    text-decoration: none;
    color:white;
  }
  .navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: black;
    padding: 8px 12px;
  
  }
  .navbar__logo {
    font-size:24px;
    color: white;
  
  }
  .navbar__menu{
    display:flex;
    list-style: none;
    padding-left:0;
  
  }
  .navbar__menu li{
    padding: 8px 12px;
    font-size: 2.5ch;
  }
  .navbar__menu li:hover{
    background-color:black;
    border-radius: 4px;
  }
  .navbar__icons{
    list-style:none;
    color:white;
    padding-left:0;
    display:flex;
   
  }
  .navbar__icons li{
    padding: 8px 12px;
    
  }
  .navbar__toogleBtn{
   display:none;
   position:absolute;
   right:32px;
   font-size: 24px;
   color:#d49466;
  }
  @media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align:center;
    }
    .navbar__icons{
        display:none;
        justify-content: center;
        width:100%;
    }
    .navbar__toogleBtn{
        display:block;
    }
    .navbar__menu.active,
    .navbar__icons.active{
        display: flex;
        
    }
  }




  .banner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    
  }
  
  .banner .box {
    position: relative;
    height: 1000px;
    overflow: hidden;
  }
  
  .banner .box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .banner .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .banner .box .content {
    position: absolute;
    top: 58%;
    left: 73%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 2.8ch;
  }
  
  .banner .box .content span {
    font-size: 1.5rem;
    color: #333;
  }
  
  .banner .box .content h3 {
    font-size: 2rem;
    color: white;
  
  
    padding-top: 1rem;
  }
  
  .banner .box .content .btn {
    padding: .6rem 2rem;
    font-size: 1.8rem;
    color: red;
  }
  .banner .box .content .btn:hover{
    background-color: azure;
  }