@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #81c644;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}





.section-container
{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
flex-wrap: wrap;
margin-top: 80px;
}
.section-container .columns
{
flex:0 0 auto;
width:50%;
}
.section-container .columns.image
{
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}
.section-container .columns.content .content-container
{
padding:40px 50px;
}
.section-container .columns.content .content-container h5
{
font-weight:700;
font-size:25px;
margin-bottom:20px;
}
.section-container .columns.content .content-container p
{
font-weight:400;
font-size:16px;
margin-bottom:20px;
margin-bottom:15px;
text-align:justify;
}




.banner {
    display: -ms-grid;
    display: flex;
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
    
  }
  
  .banner .box {
    position: relative;
    height: 15rem;
    width: 20rem;
    margin-top: 80px;
    margin-bottom: 80px;
    overflow: hidden;
    border-radius: .5rem;
    margin-left: 55px ;
  }
  
  .banner .box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .banner .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .banner .box .content {
    position: absolute;
    top: 58%;
    left: 66%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 2.8ch;
  }
  
  .banner .box .content span {
    font-size: 1.5rem;
    color: white;
  }
  
  .banner .box .content h3 {
    font-size: 2rem;
    color: white;
  
  
    padding-top: 1rem;
  }
  
  .banner .box .content .btn {
    padding: .6rem 2rem;
    font-size: 1.8rem;
    color: red;
  }
  .banner .box .content .btn:hover{
    background-color: azure;
  }
  