* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body {
    overflow-x: hidden;
    background-color:#766A69 ;
  }
  a{
    text-decoration: none;
    color:white;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color:rgb(1, 0, 2);
    padding: 8px 12px;

}
.navbar__logo {
    font-size:24px;
    color: white;

}
.navbar__menu{
    display:flex;
    list-style: none;
    padding-left:0;
    font-size: 15px;
}
.navbar__menu li{
    padding: 8px 12px;
}
.navbar__menu li:hover{
    background-color:rgb(168, 168, 14);
    border-radius: 4px;
}

.navbar__toogleBtn{
   display:none;
   position:absolute;
   right:32px;
   font-size: 24px;
   color:#d49466;

}
  #home {
    min-height: 60vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 6rem;
    background: #9B908E;
  }
  

  #home .content h1 {
    font-size: 5rem;
    font-weight: normal;
    color: #E5E5E5;
    font-family: 'Exo 2', sans-serif;
    font-style: italic;
  }
  
  #home .content h1 span {
    color: #fff;
    font-family: 'Lobster', sans-serif;
  }
  
  #home .content button {
    outline: none;
    border: none;
    background: #333;
    color: #E5E5E5;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem 0;
    height: 4rem;
    width: 14rem;
  }
  
  #home .content button:hover {
    background: #333;
  }
  
  

  #presents {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
    background: #766A69;
  }
  
  #presents h1 {
    font-size: 4rem;
    margin: 4rem 0;
    color: #766A69;
    position: relative;
    color: #E5E5E5;
  }
  
  #presents h1::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #766A69;
    height: .4rem;
    width: 80%;
  }
  
  #presents h1:after {
    background: #E5E5E5;
  }
  
  #presents .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  #presents .box-container .box {
    height: 20rem;
    width: 30rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 1rem #333;
            box-shadow: 0 0 1rem #333;
    margin: 2rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  #presents .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #presents .box-container .box button {
    outline: none;
    border: none;
    background: #766A69;
    color: #E5E5E5;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem 0;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    height: 4rem;
    width: 16rem;
    z-index: 1;
  }
  
  #presents .box-container .box button:hover {
    background: #333;
  }
  
  #presents .box-container .box:hover button {
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  #presents .box-container .box:hover img {
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  .q-a{

    background-color: #766A69;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .container{
        width:100%;
        max-width: 60rem;
        
       
    
    }
    .accordion{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .accordion-item{
        background-color:#9B908E;
        border-radius: .4rem;
        margin-bottom: 1rem;
        padding:1rem;
        box-shadow: 0rem 1px 0rem rgba(0,0,0,.1);
    }
    .accordion-link{
        font-size: 1.6rem;
        color:rgba(255,255,255,.8);
        text-decoration: none;
        background-color: #9B908E;
        width:100%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 1rem 0;
    }
    .accordion-link i{
    color:#e7d5ff;
    padding: .5rem;
    }
    .accordion-link .ion-md-remove{
        display:none;
    }
    .answer{
        max-height: 0;
        overflow: hidden;
        position:relative;
        background-color: #766A69;
        transition: max-height 650ms;
       
    }
    .answer::before{
        content: "";
        position: absolute;
        width: .6rem;
        height: 90%;
        background-color: red;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    .answer p{
        color: rgba(255,255,255,6);
        font-size: 1.4rem;
        padding: 2rem;
    }
    .accordion-item:target .answer{
        max-height: 20rem;
    
    }
    .accordion-item:target .accordion-link .ion-md-add{
        display:none;
    
    }
    .accordion-item:target .accordion-link .ion-md-remove{
        display:block;
    }

  .banner { 
    display: -ms-grid; 
    display: flex; 
    -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit]; 
        grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr)); 
     padding:50px;
    
  } 
   
  .banner .box { 
    position: relative; 
    height: 300px; 
    width: 500px;
    overflow: hidden; 
    border-radius: 4px; 
    margin-left: 5px;
  } 
   
  .banner .box:hover img { 
    -webkit-transform: scale(1.1); 
            transform: scale(1.1); 
  } 
   
  .banner .box img { 
    height: 100%; 
    width: 100%; 
    -o-object-fit: cover; 
       object-fit: cover; 
  } 
   
  .banner .box .content { 
    position: absolute; 
    top: 58%; 
    left: 62%; 
    right: 2rem; 
    -webkit-transform: translateY(-50%); 
            transform: translateY(-50%); 
    font-size: 2.8ch; 
  } 
   
  .banner .box .content span { 
    font-size: 1.5rem; 
    color: #333; 
  } 
   
  .banner .box .content h3 { 
    font-size: 2rem; 
    color: #333; 
    padding-top: 80px;
    right: 5px; 
  } 
   
  .banner .box .content .btn { 
    padding: .6rem 2rem; 
    font-size: 1.8rem; 
    color: #ff5e00; 
  } 
  .banner .box .content .btn:hover{ 
    background-color: azure; 
  }
  .footer p{
    text-align:center;
    font-size: 50px;
    color:white;
  }
  .container{ 
    max-width: 1170px; 
    margin:auto; 
   } 
   .row{ 
    display: flex; 
    flex-wrap: wrap; 
   } 
   ul{ 
    list-style: none; 
   } 
   .footer{ 
    background-color: black; 
       padding: 180px 0; 
   } 
   .footer-col{ 
      width: 25%; 
      padding: 0 15px; 
   } 
   .footer-col h4{ 
    font-size: 18px; 
    color: #ffffff; 
    text-transform: capitalize; 
    margin-bottom: 35px; 
    font-weight: 500; 
    position: relative; 
   } 
   .footer-col h4::before{ 
    content: ''; 
    position: absolute; 
    left:0; 
    bottom: -10px; 
    background-color: #e91e63; 
    height: 2px; 
    box-sizing: border-box; 
    width: 50px; 
   } 
   .footer-col ul li:not(:last-child){ 
    margin-bottom: 10px; 
   } 
   .footer-col ul li a{ 
    font-size: 16px; 
    text-transform: capitalize; 
    color: #ffffff; 
    text-decoration: none; 
    font-weight: 300; 
    color: #bbbbbb; 
    display: block; 
    transition: all 0.3s ease; 
   } 
   .footer-col ul li a:hover{ 
    color: #ffffff; 
    padding-left: 8px; 
   } 
   .footer-col .social-links a{ 
    display: inline-block; 
    height: 40px; 
    width: 40px; 
    background-color: rgba(255,255,255,0.2); 
    margin:0 10px 10px 0; 
    text-align: center; 
    line-height: 40px; 
    border-radius: 50%; 
    color: #ffffff; 
    transition: all 0.5s ease; 
   } 
   .footer-col .social-links a:hover{ 
    color: #24262b; 
    background-color: #ffffff; 
   } 
   
@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li{
        width: 100%;
        text-align:center;
    }
    
    .navbar__toogleBtn{
        display:block;
    }
    .navbar__menu.active{
        display: flex;
        }
    }

  
  @media (max-width: 991px) {
    html {
      font-size: 45%;
    }
   
    }
  
  @media (max-width: 768px) {
    #home {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-flow: column-reverse;
              flex-flow: column-reverse;
      padding: 0;
    }
    #home .content {
      text-align: center;
    }
    #home .image img {
      width: 1000vw;
    }
}
@media(max-width: 767px){ 
    .footer-col{ 
      width: 50%; 
      margin-bottom: 30px; 
  } 
  } 
  @media(max-width: 574px){ 
    .footer-col{ 
      width: 100%; 
  } 
  }